{erl_opts, []}.

{deps, [
   {datum, "4.6.0"}
,  {hackney, "1.15.1"}
,  {jsx, "2.9.0"}
]}.

{profiles, [
   {test, [{deps, [meck]}]}
]}.

%%
%%
{plugins                , [coveralls]}.
{cover_enabled          , true}.
{cover_export_enabled   , true}.
{coveralls_coverdata    , "_build/test/cover/ct.coverdata"}.
{coveralls_service_name , "travis-ci"}.
